= semantic_form_for [:admin, @blog_entry], :html=>{:multipart=>true} do |f|
  = f.inputs "", :class=>"" do 
    = f.input :title
    = f.input :image, :as=>:file
    = f.input :lead, :input_html=>{:cols=>80, :rows=>5}
    = f.input :content, :input_html=>{:cols=>80, :rows=>10}
  = f.buttons do
    = f.commit_button
