= content_box :headline => 'Menu Groups' do |box|
  = box.navigation do |n|
    - n.item "List", [:admin, :menu_groups]
    - n.item "Add new", [:new, :admin, :menu_group]
    - n.item "#{@menu_group.name}", [:admin, @menu_group], :active => true
  
  = semantic_attributes_for @menu_group do |attr|
    .column_left
      = attr.attributes "" do
        = attr.attribute :name
        = attr.attribute :identifier
    .column_right
  
  .wat-cf

  %p
    = link_to "list", [:admin, :menu_groups]
    = link_to "show", [:admin, @menu_group]
    = link_to "menu items", [:admin, @menu_group, :menu_items]
  .wat-cf

