.doubleColumn
  #slider.section.scrollable
    - if @promoted[:top_group]
      #slides.items
        - for p in get_promoted_items(@promoted[:top_group])
          .slide
            .image
              = link_to image_tag(p.image.url(:resized)), p.linkable
            .title
              %h2
                = link_to p.title, p.linkable
            .lead
              = link_to p.body, p.linkable
      #slider_pagination.navi
        - get_promoted_items(@promoted[:top_group]).each_with_index do |p, idx|
          = link_to idx+1, "##{idx}, :class=>"#{'current' if idx==0}"
        .clear
  - if @events and not @events.blank?
    #events.section
      %h2 Wydarzenia
      - for e in @events
        .event
          .link
            = link_to e.name, e
          .date= e.event_date
          .clear
  - if @promoted[:bottom_group]
    #boxes.section
      - for p in get_promoted_items(@promoted[:bottom_group])
        .box.first
          .title
            %h3= p.title
          .image
            = link_to image_tag(p.image.url(:resized)), p.linkable
          .lead
            = p.body
            = link_to "więcej...", p.linkable
      .clear
= render :partial=>"/shared/right_column"
.clear
