= content_box :headline => 'Promoted Groups' do |box|
  = box.navigation do |n|
    - n.item "List", [:admin, :promoted_groups]
    - n.item "Add new", [:new, :admin, :promoted_group]
    - n.item "#{@promoted_group.name}", [:admin, @promoted_group], :active => true
  
  = semantic_attributes_for @promoted_group do |attr|
    .column_left
      = attr.attributes "" do
        = attr.attribute :name
        = attr.attribute :identifier
    .column_right
      = attr.attributes "" do
        = attr.attribute :image_size
  
  .wat-cf

  %p
    = link_to "list", [:admin, :promoted_groups]
    = link_to "edit", [:edit,:admin, @promoted_group]
    = link_to "promoted items", [:admin, @promoted_group, :promoted_items]
  .wat-cf

