= content_box :headline => 'New Menu Item' do |box|
  = box.navigation do |n|
    - n.item raw("#{@menu_group.name} &raquo;"), [:admin, @menu_group]
    - n.item "List", [:admin, @menu_group, :menu_items]
    - n.item "Add new", [:new, :admin, @menu_group, :menu_item], :active => true
  
  = render :partial=>"form"
  
  %p
    = link_to "list", [:admin, @menu_group, :menu_items]

