!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title ZOO
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    #site.container
      .wrapper
        #top
          .singleColumn
            #logo
              = link_to image_tag('logo.png'), root_path
          #navi.doubleColumn
            #top_menu
              - if @menu[:top_group]
                - for mi in get_menu_items(@menu[:top_group])
                  = link_to mi.title, menu_item_path(mi), :class=>"#{'current' if request.path == menu_item_path(mi)}"
            #account_info
              = render :partial=>"/shared/account_links"
            .clear
            #top_area
              &nbsp;
          .clear
        / content
        #content{:class=>controller.controller_name}
          = yield
    .clear
    #footer.container
      .wrapper
        #legal_notes.singleColumn
          Korzystanie z serwisu oznacza akceptację
          = get_page_link 'regulamin', :title=>"regulaminu"
        #footer_menu.doubleColumn
          - if @menu[:footer_group]
            - for mi in get_menu_items(@menu[:footer_group])
              = link_to mi.title, menu_item_path(mi)
         
        .clear

